.login {
	position: relative;
	margin-top: 15%;
	
	ul{
		margin: 0 auto;
		margin-bottom: 10px;
		color: red;
		width: 40%;
		max-width: 400px;
		min-width: 280px;
	}
	.checkbox {
		width: 100%;
		margin-top: 10px;
		input#checkbox {
			width: fit-content;
			font-size: 1rem;
			border: solid 1px black;
			outline: 0;
		}
	}
	a {
		position: absolute;
		right: 10px;
		bottom: 10px;
		color: #16c1a3;
	}
}
