.nav-links {
	ul {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		font-size: 1.3rem;
		font-weight: 600;
		height: 100%;
		padding-top: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
		li {
			position: relative;
			margin-right: 20px;
			button {
				color: white;
				font-size: 1.3rem;
			}
			&:hover {
				&:after{
					position: absolute;
					border-top: 3px solid rgba(255, 255, 255, 0.5);
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					width: 100%;
					content: "";
					left: 0px;
					bottom: 0px;
				}
			}
			&.active{
				&:after{
					position: absolute;
					border-top: 3px solid white;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					width: 100%;
					content: "";
					left: 0px;
					bottom: 0px;
					background-color: red;
				}
			}
			
		}
	}
	@media only screen and (max-width: 600px) {
		display: none;
	}
}
