.textarea {
	textarea {
		width: 100%;
		border: solid 1px rgba(0,0,0,0.425);
		resize: none;
		margin: 10px 0px 20px;
		font-size: 1rem;
		padding: 5px 5px;
		border: solid 1px rgba(0, 0, 0, 0.425);
		outline: 0;
	}
}
